.date-container{
    .form-control{
        margin: 20px;
        width: 80%;
    }
    .card {
        flex-direction: unset;
        margin: 0px 0px 20px 0px;
    }
    .btn-success{
        margin: 10px auto;
    }
    .card-header{
        width: 100%;
        margin-bottom: 21px;
    }
}
label {
    margin: 20px;
}
.chart{
    position: relative;
}
.recharts-surface{
    width: 100%;
}